{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title %}

{% block content %}
<section>
  <div class="container">
      <form class="email-form" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="subscribe_field">
            {{field.errors}}
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
      <button class="email-submit">Submit</button>
  </form>
      
      
  </div>

</section>
{% endblock content  %}
